# Configuration PostgreSQL
DB_USER=admin
DB_PASSWORD=admin1234
DB_NAME=analysis_db

# Configuration des services
ENV=development

# URLs des services
ANALYSIS_SERVICE_URL=http://analytics_service:8000/v1/analysis
DATA_COLLECTION_SERVICE_URL=http://ingestion_service:8001

# Configuration Celery
CELERY_BROKER_URL=redis://redis_queue:6379/0
CELERY_RESULT_BACKEND=redis://redis_queue:6379/0
